
.userSubmissionApplicationContainer {
  padding: 10px;
  border-radius: var(--border-radius);
}

.userSubmissionApplicationReviewing{
  border: 1px dotted grey;
}

.userSubmissionApplicationAccepted{
  border: 1px dotted green;
}

.userSubmissionApplicationDeclined{
  border: 1px dotted red;
}

.userSubmissionDataLabel{
  text-align: left;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: bold;
}